.vision {
  background-image: url("../img/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 608px;
}

.vision-tittle {
  padding-top: 10%;
  margin-bottom: 57px;
}

.vision-text {
  font-weight: 600;
  font-size: 24px;
  color: #334563;
  width: 754px;
  margin: 0 auto;
  text-align: center;
}

.vision-btn {
  padding: 15px 89px 17px 88px;
  background-color: #2F80ED;
  border-radius: 64px;
  font-size: 16px;
  text-align: center;
  color: white;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 55px;

  &:hover {
    border: 1px solid #2F80ED;
    background-color: white;
    color: #2F80ED;
  }
}