.welcome {
  max-width: 742px;
  padding-right: calc(12% + 12px);
  padding-left: 12%;
  margin: 136px auto;
}

.welcome-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: #253757;
}