body {
  margin: 0;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid black;
}

ul {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

button {
  border: 0;
}

.header {
  background-color: #56CCF2;
  height: 848px;
  position: relative;
  overflow: hidden;
}
.header:before {
  content: "";
  position: absolute;
  background-color: white;
  right: -320px;
  top: 0;
  width: 600px;
  height: 1150px;
  transform: rotate(25deg);
}

.nav {
  display: flex;
}
.nav__logo {
  margin: 51px 0 5% 12%;
  color: white;
  font-size: 32px;
  line-height: 1;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 65%;
  list-style: none;
  margin-top: 90px;
}
.menu__item_link:hover {
  color: #FCC304;
}
.menu__item:last-child {
  margin-left: 8%;
}
.menu__item:last-child:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 32px;
  right: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
}
.menu__item:first-child {
  margin-left: 4%;
}
.menu__item_link {
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  line-height: 1.5;
  white-space: nowrap;
}

.header__advert {
  margin-left: 18%;
  width: 50%;
}

.advert__title {
  font-size: 64px;
  color: white;
  line-height: 1.5;
  font-weight: bold;
}

.advert__info {
  font-size: 24px;
  line-height: 1.5;
  color: white;
}

.button {
  padding: 16px 65px;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: bold;
  color: #56CCF2;
  border-radius: 64px;
  cursor: pointer;
  margin-top: 18px;
}
.button:hover {
  border: 1px solid white;
  background-color: #56CCF2;
  color: white;
}

.slider-social {
  margin-left: 12%;
  display: flex;
  position: relative;
  margin-top: -315px;
  margin-bottom: 28px;
}

.slider-img {
  width: 100%;
  height: 647px;
  object-fit: contain;
}

.slider-intro {
  position: absolute;
  width: 264px;
  left: 8.3%;
  bottom: 15%;
  z-index: 1;
}

.intro-title {
  font-size: 12.6px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56CCF2;
}

.intro-text {
  font-size: 19.6px;
  line-height: 27px;
  font-weight: 900;
  color: white;
  margin-top: 4px;
}

.slider {
  position: relative;
}
.slider:before {
  content: "";
  display: block;
  position: absolute;
  width: 7.5%;
  height: 10.4%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
  background-image: url("../img/btn-left.png");
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  top: calc(43%);
  left: -7.5%;
  cursor: pointer;
}
.slider:after {
  content: "";
  display: block;
  position: absolute;
  width: 7.5%;
  height: 10.4%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
  background-image: url("../img/btn-right.png");
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  top: calc(43%);
  left: 0;
  cursor: pointer;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100px;
  position: relative;
  z-index: 2;
}

.social-link {
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 150%;
  font-weight: 800;
  color: #253757;
  transform: rotate(90deg);
  text-transform: uppercase;
}

.section {
  padding: 0 324px 0 227px;
}
.section-title {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  padding-left: 37px;
  margin-bottom: 19px;
  color: #56CCF2;
}
.section-title:before {
  content: "";
  display: block;
  background-image: url("../img/Vector.png");
  left: 0;
  width: 21px;
  height: 21px;
  position: absolute;
}

.section-title-white {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  padding-left: 37px;
  margin-bottom: 19px;
  color: white;
  padding-top: 198px;
}
.section-title-white:before {
  content: "";
  display: block;
  background-image: url("../img/Vector-white.png");
  left: 0;
  width: 21px;
  height: 21px;
  position: absolute;
}

.welcome {
  max-width: 742px;
  padding-right: calc(12% + 12px);
  padding-left: 12%;
  margin: 136px auto;
}

.welcome-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: #253757;
}

.proposition {
  margin-left: 12%;
  margin-right: calc(12% + 93px);
  background-color: white;
}

.title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
  color: #253757;
  text-align: center;
}

.proposition-tittle {
  margin-bottom: 136px;
}

.proposition-field {
  display: flex;
  margin-bottom: 15%;
  justify-content: space-between;
}

.proposition-item {
  max-width: 264px;
  margin-left: 13.1%;
}
.proposition-item:first-child {
  margin-left: 0;
}

.item-title {
  font-size: 19.6px;
  font-weight: 900;
  line-height: 27px;
  color: #253757;
}

.item-text {
  font-size: 16px;
  line-height: 1.5;
  color: #334563;
  mix-blend-mode: normal;
}

.process {
  margin: 0 64px;
  background-color: #fcfcfc;
  min-height: 656px;
  padding-left: calc(12% - 64px);
  padding-top: 160px;
  position: relative;
}

.heading-title {
  font-size: 32px;
  line-height: 45px;
  font-weight: 900;
  color: #253757;
  margin-bottom: 32px;
}

.process-field {
  width: 362px;
}

.step {
  position: absolute;
  width: 240px;
  padding: 48px 32px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  z-index: 1;
}

.step-1 {
  left: 63.8%;
  top: 41.2%;
}

.step-2 {
  left: 83%;
  top: 27.5%;
}

.step-3 {
  left: 63.8%;
  top: 88.3%;
}

.step-4 {
  left: 83%;
  top: 74.5%;
}

.circle {
  width: 48px;
  height: 48px;
  opacity: 0.1;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.circle-blue {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #56CCF2, #56CCF2), #C4C4C4;
}

.circle-orange {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
}

.circle-green {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #03D542, #03D542), #C4C4C4;
}

.circle-red {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #F25656;
}

.step-count-blue {
  position: absolute;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  top: 64px;
  left: 107px;
  color: #56CCF2;
}

.step-count-orange {
  position: absolute;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  top: 64px;
  left: 107px;
  color: #FCC304;
}

.step-count-green {
  position: absolute;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  top: 64px;
  left: 107px;
  color: #03D542;
}

.step-count-red {
  position: absolute;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  top: 64px;
  left: 107px;
  color: #F25656;
}

.step-text {
  font-size: 12.6px;
  text-align: center;
  color: #253757;
  mix-blend-mode: normal;
  margin-top: 32px;
}

.section-features {
  padding-left: 12%;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 976px;
}

.features-item {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}
.features-item:last-child {
  margin-bottom: 0;
}

.features-text {
  width: 362px;
  position: absolute;
}

.features-circle {
  min-width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 32px;
}
.features-circle:hover {
  transform: scale(1.2, 1.2);
}

.features-item-text {
  color: white;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.testimonials {
  margin-top: 10%;
  margin-left: 12%;
}

.feadback {
  display: flex;
  justify-content: center;
  margin-left: 25px;
  margin-right: calc(12% + 25px);
}
.feadback__card {
  min-width: 314px;
  height: 464px;
  padding: 32px 32px 58px 32px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
}
.feadback__card:last-child {
  margin-right: 0;
}

.card-bg-blue {
  width: 64px;
  height: 161px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56CCF2;
  border-radius: 500px;
  margin: 0 auto;
  transform: rotate(35deg);
}
.card-bg-blue:after {
  content: "";
  position: absolute;
  display: block;
  width: 64px;
  height: 2px;
  top: 280px;
  left: 142px;
  transform: rotate(-35deg);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56CCF2;
  border-radius: 500px;
}

.card-bg-orange {
  width: 64px;
  height: 161px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
  border-radius: 500px;
  margin: 0 auto;
  transform: rotate(35deg);
}
.card-bg-orange:after {
  content: "";
  position: absolute;
  display: block;
  width: 64px;
  height: 2px;
  top: 280px;
  left: 142px;
  transform: rotate(-35deg);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #FCC304;
  border-radius: 500px;
}

.card-bg-red {
  width: 64px;
  height: 161px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #F25656;
  border-radius: 500px;
  margin: 0 auto;
  transform: rotate(35deg);
}
.card-bg-red:after {
  content: "";
  position: absolute;
  display: block;
  width: 64px;
  height: 2px;
  top: 280px;
  left: 142px;
  transform: rotate(-35deg);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #F25656;
  border-radius: 500px;
}

.card-photo {
  width: 64px;
  height: 123px;
  border-radius: 500px;
  transform: rotate(-35deg);
  position: relative;
  left: 130px;
  top: -105px;
}

.card-photo-person {
  transform: rotate(25deg);
  position: absolute;
  left: -60px;
  top: -22px;
}

.feadback__text {
  font-size: 14.4px;
  line-height: 1.5;
  font-style: italic;
  color: #253757;
  display: inline;
  position: absolute;
  margin-top: -50px;
  width: 250px;
  text-align: center;
}

.feadback__text:before {
  content: '"';
  font-size: 14.4px;
  line-height: 1.5;
  font-style: italic;
  color: #253757;
}

.feadback__text:after {
  content: '"';
  font-size: 14.4px;
  line-height: 1.5;
  font-style: italic;
  color: #253757;
}

.feadback__name {
  text-align: center;
  font-weight: bold;
  font-size: 12.6px;
  margin-top: 60px;
  margin-bottom: 0;
}

.feadback__post {
  text-align: center;
  font-weight: 800;
  font-size: 12.6px;
  color: #56CCF2;
  margin: 0;
}

.vision {
  background-image: url("../img/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 608px;
}

.vision-tittle {
  padding-top: 10%;
  margin-bottom: 57px;
}

.vision-text {
  font-weight: 600;
  font-size: 24px;
  color: #334563;
  width: 754px;
  margin: 0 auto;
  text-align: center;
}

.vision-btn {
  padding: 15px 89px 17px 88px;
  background-color: #2F80ED;
  border-radius: 64px;
  font-size: 16px;
  text-align: center;
  color: white;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 55px;
}
.vision-btn:hover {
  border: 1px solid #2F80ED;
  background-color: white;
  color: #2F80ED;
}

.contact-us {
  margin-left: 12%;
  display: flex;
}

.message {
  width: 656px;
}

.contacts {
  width: 362px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.input {
  width: 656px;
  max-width: 80%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #E1E1E1;
  outline: none;
}
.input::placeholder {
  font-weight: bold;
  font-size: 14.4px;
  color: #152032;
}
.input:focus::-webkit-input-placeholder {
  color: transparent;
}

.label-input {
  margin-bottom: 30px;
}

.btn-form {
  width: 226px;
  height: 56px;
  border-radius: 64px;
  background-color: #2F80ED;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-top: 100px;
  cursor: pointer;
}
.btn-form:hover {
  border: 1px solid #2F80ED;
  background-color: white;
  color: #2F80ED;
}

.contact-tittle {
  font-weight: 800;
  font-size: 12.6px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #334563;
}

.contact-info {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56CCF2;
}

.contact-social-img {
  margin-right: 25px;
}

.footer {
  padding: 4% 12%;
  display: flex;
  justify-content: space-between;
}

.footer-menu {
  display: flex;
  list-style: none;
}

.design-by {
  margin: 0;
  white-space: nowrap;
}

.footer-menu-item {
  font-weight: bold;
  font-size: 16px;
  color: #253757;
  text-decoration: none;
  margin-right: 50px;
  white-space: nowrap;
}

@media screen and (max-width: 1400px) {
  .step-1, .step-3 {
    left: 50%;
  }

  .step-2, .step-4 {
    left: 72%;
  }
}
@media screen and (max-width: 1300px) {
  .advert__title {
    font-size: 48px;
  }

  .feadback {
    display: flex;
  }
}
@media screen and (max-width: 1200px) {
  .welcome {
    margin-top: 0px;
    margin-bottom: 100px;
  }

  .proposition-item {
    margin-left: 5%;
  }

  .proposition-tittle {
    margin-bottom: 80px;
  }

  .process {
    min-height: 530px;
  }

  .section {
    padding-left: calc(12% - 64px);
    padding-top: 50px;
    padding-right: calc(12% - 64px);
  }

  .process-field {
    width: 100%;
  }

  .step-media {
    display: flex;
    justify-content: space-between;
  }

  .step {
    position: static;
  }

  .step-count-red,
.step-count-blue,
.step-count-orange,
.step-count-green {
    position: relative;
    top: -35px;
    left: calc(50% - 12px);
  }

  .step-text {
    margin-top: -32px;
  }

  .section-features {
    padding-left: 12%;
    background-color: #56ccf2;
    background-image: none;
    min-height: 800px;
  }

  .section-title-white {
    padding-top: 0px;
  }

  .feadback__card {
    margin-right: 0px;
  }

  .contact-us {
    flex-direction: column;
  }

  .form {
    margin-top: 50px;
  }

  .btn-form {
    margin-top: 50px;
  }

  .contacts {
    width: 100%;
    margin-top: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .header:before {
    display: none;
  }

  .nav {
    flex-direction: column;
  }
  .nav__logo {
    margin: 51px auto;
  }

  .menu {
    margin: 0 auto;
  }

  .menu__item:first-child {
    margin-left: 0;
  }

  .menu__item:last-child {
    margin-left: 0;
  }

  .header__advert {
    margin: 20px auto;
  }

  .advert__title {
    text-align: center;
  }

  .advert__info {
    font-size: 20px;
  }

  .social-link {
    color: transparent;
  }

  .social-fb {
    background-image: url("../img/social/fb.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(0deg);
    margin: 0 auto;
    width: 50%;
    height: 7%;
  }

  .social-twitter {
    background-image: url("../img/social/twitter.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(0deg);
    margin: 0 auto;
    width: 50%;
    height: 7%;
  }

  .social-instagram {
    background-image: url("../img/social/instagram.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(0deg);
    margin: 0 auto;
    width: 50%;
    height: 7%;
  }

  .step-media {
    display: none;
  }

  .process {
    min-height: 0px;
  }

  .process-field {
    padding-bottom: 5%;
    margin: 0 auto;
  }

  .section-features {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 600px;
  }

  .features-text {
    position: static;
    margin: 0 auto;
  }
}
@media screen and (max-width: 650px) {
  .advert__title {
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
